[submodule "rapidjson"]
	path = rapidjson
	url = git://github.com/miloyip/rapidjson
[submodule "muFFT"]
	path = muFFT
	url = git://github.com/Themaister/muFFT
[submodule "glslang"]
	path = glslang
	url = git://github.com/KhronosGroup/glslang
